#header-section {
    display: grid;
    grid-template-columns: 33% auto 33%;
    grid-template-rows: 86.11px;
    grid-template-areas: 'title logo account';
    border-bottom: 2px solid black;
}
#header-section > a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:black;
    font-size: 130%;
    z-index:2;
}
#header-title {
    grid-area: title;
}

#account-button {
    grid-area: account;
}
.head-logo {
    place-self: center;
    grid-area: logo;
    height:86.11px;
}
#header-section > a:hover {
    text-decoration:double;
    color:red;
    font-weight: 700;
}
#header-section > a:active {
    text-decoration:double;
    color:red;
    font-weight: 900;
    font-size: 150%;
}