a {
    width:100%;
    height:100%;
}
#article-section {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.more-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:70%;
    height:70%;
    padding: 20px;
}
.more-button-link {
    width:100%;
    height:100%
}
.more-button {
    background-color: rgb(155, 0, 0);
    color:white;
    font-size: 20px;
    width:100%;
    border-radius: 50px;
}
.all-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:70%;
    height:70%;
    padding: 20px;
}
.all-button-link {
    width:100%;
    height:100%
}
.all-button {
    background-color: rgb(155, 0, 0);
    color:white;
    font-size: 20px;
    width:100%;
    border-radius: 50px;
}
#article-section {
    border: 2px solid black;
    margin: 10px;
}

#single-article-card {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 100px 100px 100px auto 100px;
    gap: 0px 10px;
    place-items: center;

    grid-template-areas: 
        "image image image image image"
        "title title title title title"
        "topic  author author date time"
        "body body body body body"
        "comment comment . vote vote"
}
.article-image-container {
    grid-area: image;
    width:100px;
    height:150px;
    overflow: hidden;
    background-color: red;
    box-shadow: -3px 5px 10px 1px rgb(122, 122, 122);
}
.article-title {
    grid-area: title;
}
.article-topic {
    border: 1px solid rgb(101, 101, 101);
    box-shadow: -2px 0px 20px 1px rgb(122, 122, 122);;
    border-radius: 5px;
    padding:10px;
    grid-area: topic;
}
.vote-div {
    grid-area: vote;
    display: flex;
}
.article-author {
    grid-area: author;
}
.article-date {
    grid-area: date;
}
.article-time {
    grid-area: time;
}
.comment-div {
    grid-area: comment;
    display:flex;
    align-content: center;
}
.article-body {
    grid-area: body;
}
.article-image {
    height: 100%;
    object-fit: contain;
}
.article-comment-icon, .article-vote-icon {
    width:30px;
    height:30px;
}
.comment-count, .vote-count {
    margin:0;
}