.beware {
    position: fixed;
    top:130px;
    width:100px;
    margin-left: 50vw;
    margin-right: 50vw;
    color: white;
    z-index: 3;
}
.beware[data-start='true'] {
    animation: beware 10s linear 0s forwards;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    bottom:-30vh;
}
.username {
    width: 350px;
    height:50px;
    margin:20px;
}

@keyframes beware {
    0% {
        z-index: 3;
        color:whte;
    }
    45% {
        z-index: 2;
        color:	#00ff00;
        top:130px;
    }
    50% {
        z-index: 3;
        color:	#00ff00;
        top:130px;
    }
    100% {
        z-index: 3;
        color:	#00ff00;
        top:-300px;
    }
}
.home-button {
    border: 10px solid rgb(255, 255, 255);
    border-radius: 10px;
    z-index: 1;
    width: 350px;
    height:300px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: Helvetica, Arial;
    font-weight: 900;
    font-size: 100px;
    animation: flash 0.952s linear 37.5s;
    animation-iteration-count: infinite;
    z-index: 0;
}
.home-button:hover {
    box-shadow: 0px 0px 400px 100px rgb(145, 145, 145);
}

@keyframes flash {
    from {
        border: 30px solid rgb(0, 0, 0);
        background: radial-gradient(hsl(13, 100%, 25%) 1%,hsl(13, 100%, 40%) 5% , hsl(13, 100%, 25%) 10%,hsl(13, 100%, 45%) 15% , hsl(13, 100%, 25%) 20%,hsl(13, 100%, 50%) 25% , hsl(13, 100%, 30%) 30%,hsl(13, 100%, 45%) 35% , rgb(149, 32, 0) 40%,hsl(13, 100%, 45%) 50% , rgb(149, 32, 0) 60%,hsl(13, 100%, 45%) 70% , rgb(149, 32, 0) 80%,hsl(13, 100%, 50%) 90% , rgb(149, 32, 0) 100%);
        color: rgb(142, 72, 25);
    }
    to {
        border: 10px solid rgb(249, 215, 111);
        background: radial-gradient(rgb(214, 46, 0) 10%, rgb(149, 32, 0))70%;
        color: rgb(249, 215, 111);
    }
}